.container {
    padding-bottom: 5vh;
    padding-top: 5vh;
    width: 100%;
}

.container-login {
    padding: 5vh 5vh;
    border: 2px solid black;
}

.container-logout {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.header {
    text-align: center;
}

.loginCard {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

input {
    padding: 1vh;
    margin: 2vh;
    width: auto;
}

.logoutButton {
    padding: 1vh;
    width: 10%;
    color: red;
}